
{% extends 'web/base_main.html' %}

{% block title %}
  周海龙
{% endblock %}

{% block extcss %}
  {% load static %}
  <link href="{% static 'web/css/base.css' %}" rel="stylesheet">
  <link href="{% static 'web/css/index.css' %}" rel="stylesheet">
  <link href="{% static 'web/css/m.css' %}" rel="stylesheet">
{% endblock %}

{% block extjs %}
  {% load static %}
    {{ block.super }}
  <script type="text/javascript" src="{% static 'web/js/comm.js' %}"></script>
  <script src="{% static 'web/js/modernizr.js' %}"></script>
{% endblock %}


{% block main %}

    <main>
        <div class="infosbox">
            <div class="newsview">
                <h3 class="news_title">{{ article.title }}</h3>
                <div class="bloginfo">
                    <ul>
                        <li class="author">作者：<a href="/">周海龙</a></li>
                        <li class="timer">时间：{{ article.s_time }}</li>
                        <!--<li class="view">4567人已阅读</li>-->
                    </ul>
                </div>
                <div class="tags">
                    <a href="/" target="_blank">个人博客</a> &nbsp;
                    <a href="/" target="_blank">{{ cate.c_name }}</a>
                </div>
                <div class="news_about">
                   {{ article.content|safe }}
                </div>

            </div>
        </div>
    </main>

{% endblock %}
