
{% extends 'web/base_main.html' %}

{% block title %}
  周海龙
{% endblock %}

{% block extcss %}
  {% load static %}
  <link href="{% static 'web/css/base.css' %}" rel="stylesheet">
  <link href="{% static 'web/css/index.css' %}" rel="stylesheet">
  <link href="{% static 'web/css/m.css' %}" rel="stylesheet">
{% endblock %}

{% block extjs %}
     {% load static %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'web/js/comm.js' %}"></script>
    <script src="{% static 'web/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/hc-sticky.js' %}"></script>
{% endblock %}


{% block main %}

    <main class="r_box">
        {% for article in all_article %}
                <li>
                    <img style="width:200px; height:100px" src="/media/{{ article.icon }}" alt="">
                    <h3><a href="{% url 'app:info' article.id %}">{{ article.title }}</a></h3>
                    <p>{{ article.desc }}</p>
                </li>
        {% endfor %}


        {% for article in articles2 %}
            <li>
                <img style="width:200px; height:100px" src="/media/{{ article.icon }}" alt="">
                <h3><a href="{% url 'app:info' article.id %}">{{ article.title }}</a></h3>
                <p>{{ article.desc }}</p>
            </li>
        {% endfor %}

        {% if articles2.has_previous %}
            <a href="{% url 'app:list' %}?page={{ articles2.previous_page_number }}">上一页</a>
        {% endif %}

        {% for i in articles2.paginator.page_range%}
        <a href="{% url 'app:list' %}?page={{ i }}">{{ i }}</a>
        {% endfor %}

        {% if articles2.has_next %}
            <a href="{% url 'app:list' %}?page={{ articles2.next_page_number }}">下一页</a>
        {% endif %}
    </main>

{% endblock %}