{% extends 'base_admin.html' %}

{% block title %}
用户
{% endblock %}


{% block extcss %}
{{ block.super }}
<link rel="apple-touch-icon-precomposed" href="/static/images/icon/icon.png">
<link rel="shortcut icon" href="/static/images/icon/favicon.ico">
{% endblock %}

{% block content %}
<section class="container-fluid">

  <div class="row">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <h1 class="page-header">管理 <span class="badge">2</span></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">ID</span></th>
                <th><span class="glyphicon glyphicon-user"></span> <span class="visible-lg">用户名</span></th>
                <th><span class="glyphicon glyphicon-pushpin"></span> <span class="visible-lg">文章</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">创建时间</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for user in users %}
                <td>{{ user.id }}</td>
                <td>{{ user.s_name }}</td>
                <td>{{ art }}</td>
                <td>{{ user.crate_time }}</td>
                <td><a href="/user/update_user/">修改</a> <a href="{% url 'user:del_user' user.id %}">删除</a>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</section>
{% endblock %}
